{% if page.type == "posts" %}
	{% assign posts=site.posts | where:"name", page.name | sort: 'path' %}
{% else %}
	{% assign posts=site.pages | where:"nav", page.nav | sort: 'path' %}
{% endif %}

<nav rel="language-selector">
	<ul>
		{% for post in posts %}
		{% assign post_url = post.url | remove: "index.html" %}
		{% comment %}
			site.pages url includes index.html, remove it.
		{% endcomment %}
		{% if post.lang == page.lang %}
		  {% assign classes = "current" %}
		{% else %}
		  {% assign classes = "" %}
		{% endif %}
		<li><a href="{{post_url}}" hreflang="{{post.lang}}" class="{{classes}}">{{ post.lang }}</a></li>
		{% endfor %}
	</ul>
</nav>