<ul class="site-nav">
	{% for nav in site.nav %}
		{% assign nav_page = site.pages | where:"nav", nav | where:"lang", page.lang |first %}
		{% assign nav_url = nav_page.url | remove: "index.html" %}
		{% comment %}
			site.pages url includes index.html, remove it.
		{% endcomment %}
		{% if nav_page.url == page.url %}
		  {% assign classes = "current" %}
		{% else %}
		  {% assign classes = "" %}
		{% endif %} 
		<li><a href="{{nav_url}}" class="{{classes}}">{{ nav_page.title }}</a></li>
	{% endfor %}
	{% assign home_page = site.pages | where:"nav", "home" | where:"lang", page.lang |first %}
	{% if page.nav == "home" %}
		{% assign rss_rel = "alternate" %}
	{% else %}
		{% assign rss_rel = "home" %}
	{% endif %}
	<li><a class="feed fa" rel="{{rss_rel}}" type="application/rss+xml" href="{{home_page.url}}feed.xml"></a><li>
</ul>